/* article */

.section.section--article-top {
    position: relative;
    margin-top: -11rem;
    padding-top: 18rem;
}

.section.section--article-blue {
    position: relative;
    margin: 5rem 0;
    overflow: visible;
    color: #ffffff;
    background-color: #41c5fa;
}

.section--article-blue a {
    color: #85f9fe;
}

.section.section--article {
    position: relative;
    min-height: 100vh;
}

.section--article img {
    max-width: 500px;
    margin-right: 1rem;
    box-shadow: 2px 2px 20px 1px #223c5011;
}

.section--article img.zoom {
    width: 150px;
    height: 75px;
    margin: -0.3rem -1rem;
    padding: 0;
}

.section--article div.row {
    display: flex;
}

.section--article h3, h4, h5 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
}

.section--article h3 {
    font-size: 2em;
}

.section--article h4 {
    font-size: 1.3em;
}

.section--article h5 {
    font-size: 1em;
}

.section--article ul, ol, p {
    margin: 0.4rem 0;
}

.section--article ul > p, ol > p {
    margin: 0;
}

.section--article hr {
    margin: 1em;
    border: 1px dashed #41c5fa;
}

.section--article pre {
    margin: 1rem -1rem;
    padding: 1rem;
    font-size: 70%;
    border: 1px dashed #cccccc;
}

.section--article th {
    margin: 2px;
    padding: 1rem;
    font-size: 70%;
    background-color: #dddddd;
}

.section--article td {
    margin: 2px;
    padding: 0.3rem 1rem;
    background-color: #efefef;
}
