.section--features h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.section--features h3 > img {
    max-width: 64px;
    height: auto;
    margin-right: 1rem;
}

.section--features h4 {
    margin-bottom: 0;
}

.features {
    padding: 0 0 2rem;
}

@media (min-width: 768px) {
    .section--features h3 {
        margin: 5rem auto;
    }

    .section--features h3 > img {
        max-width: none;
    }
}
