.footer {
    margin-top: 5rem;
    padding-top: 7rem;
    color: #ffffff;
    background: 50% 0 no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 1600 498' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='799' cy='385' rx='951' ry='385' fill='%236dd3fb'/%3E%3C/svg%3E");
    background-size: cover;
}

.footer a[target='_blank']::after {
    content: '';
}

.footer__content {
    --gap: 3rem;
    margin: -2rem 0 2rem;
    color: #ffffff;
    text-align: center;
}

.tagline > img {
    margin: 0 auto 1.3rem;
}

.tagline > p {
    font-size: 1.3em;
}

.social__links {
    display: inline-flex;
    padding: 0;
    list-style: none;
}

.social__links > li + li {
    margin-left: 1.11em;
}

.social__links .icon {
    width: 48px;
    height: 48px;
}

.social__link,
.footer__legal > a {
    color: #ffffff;
}

.social__link:hover,
.social__link:focus,
.footer__legal > a:hover,
.footer__legal > a:focus {
    color: #ffffffbb;
}

.footer__links img {
    margin: auto;
}

.footer__legal {
    padding: 2rem 0;
}

.footer__legal a[target='_blank']::after {
    content: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path d='M5.645 10.355a.496.496 0 0 1 0-.702L14.298 1H10.5a.5.5 0 0 1 0-1h5.002A.494.494 0 0 1 16 .498V5.5a.5.5 0 0 1-1 0V1.702l-8.653 8.653a.496.496 0 0 1-.702 0z'></path><path d='M8 4.5a.5.5 0 0 0-.5-.5H1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8.5a.5.5 0 0 0-1 0V15H1V5h6.5a.5.5 0 0 0 .5-.5z'></path></svg>");
    margin-left: 0.1rem;
}

@media (min-width: 768px) {
    .footer__content {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
    }
}
