.grid {
    display: grid;
    grid-template-columns: repeat(var(--columns, 1), 1fr);
    grid-gap: var(--gap, 1rem);
}

@media (min-width: 768px) {
    .grid {
        --gap: 2rem;
    }

    .grid--1 {
        --columns: 1;
    }

    .grid--2 {
        --columns: 2;
    }

    .grid--3 {
        --columns: 3;
    }

    .grid--4 {
        --columns: 4;
    }

    .grid--gap-0 {
        --gap: 0;
    }

    .grid--gap-1 {
        --gap: 1rem;
    }

    .grid--gap-2 {
        --gap: 2rem;
    }

    .grid--gap-3 {
        --gap: 3rem;
    }

    .grid--gap-4 {
        --gap: 4rem;
    }

    .grid--gap-5 {
        --gap: 5rem;
    }
}

.grid--list {
    --gap: 2rem;
    padding-left: 0;
    list-style: none;
}

.grid--list > li {
    position: relative;
}

@media (min-width: 768px) {
    .grid--list {
        --gap: 4rem;
    }
}

