/* Header */

.header {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: 0.6s;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    font-size: clamp(0.67rem, 0.57rem + 0.43vw, 1.12rem);
    transition: 0.6s;
}

.header__logo {
    flex: none;
    margin: 0.5rem auto 1rem;
}

.logo__image {
    width: auto;
    height: 40px;
    transition: 0.6s;
}

.header--sticky .header__content {
    height: 0;
    margin: 0 auto;
}

.header--sticky .logo__image {
    width: auto;
    height: 28px;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.header__nav-link {
    margin: 0 0.5rem 0.5rem;
    color: #494a4c;
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header {
        position: absolute;
    }

    .header--sticky {
        position: fixed;
        z-index: 100;
        background-color: #bcc6daf2;
        box-shadow: 0 3px 4px 0 #00000028;
    }

    .header__content {
        flex-direction: row;
    }

    .header__logo {
        margin: 1rem 1rem 1rem 0;
    }

    .logo__image {
        height: 40px;
    }

    .header__nav {
        justify-content: flex-end;
        margin-left: auto;
        font-size: 1.12em;
    }

    .header__nav-link {
        margin: 0.25rem 0 0.25rem 2rem;
    }

    .header--sticky .header__nav-link {
        margin: 0.15rem 0 0.15rem 2rem;
        color: #494a4c;
    }

    .header--sticky .header__nav-link:hover,
    .header--sticky .header__nav-link:focus{
        filter: none;
    }
}
