/* Hero */

.section.section--hero {
    position: relative;
    min-height: 30em;
    margin-top: -11rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(#bcc6da, #e8edf7);
}

.section--hero h1 {
    margin: 4rem 0 2rem;
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 2.16vw, 6rem);
    letter-spacing: 0;
}

.section--hero h3 {
    color: #244ace;
    font-weight: 400;
    font-size: 1.4em;
}

.section--hero .button {
    margin-top: 10ex;
    padding: 2ex 7ex;
    font-weight: 400;
}

.section--hero .section__media img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.section--hero p {
    font-weight: 200;
}

@media (min-width: 768px) {
    .section.section--hero {
        margin-top: 0;
        padding-top: 10rem;
    }

    .section--hero .section__block {
        display: flex;
    }

    .section--hero .section__media {
        flex: 1 0 36%;
        margin-left: 3%;
    }
}


.hero-waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-wave {
    position: absolute;
    bottom: 4%;
    left: 45%;
    width: 1500px;
    height: 1500px;
    background-color: #41c5fa;
    border-radius: 43%;
    transform: rotate(25deg);
    transform-origin: 50% 50%;
    opacity: 0.4;
    animation: drift 45s infinite linear;
}

.hero-wave--two {
    background-color: #41c5fa;
    transform: rotate(45deg);
    opacity: 0.77;
    animation-duration: 55s;
}

@keyframes drift {
    /* to { transform: rotate(360deg); } */
}
