.section--requirements {
    position: relative;
    margin: 5rem 0;
    padding: 5rem 0;
    overflow: visible;
    background-color: #cccccc;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
}

.section--requirements h2 {
    color: #1a6a8b;
}

.requirements__list {
    padding: 1rem 0;
}

.requirements__list h3 {
    color: #1a6a8b;
}

@media (min-width: 768px) {
    .requirements__list {
        padding-top: 3rem;
    }
}
