.section--requirements {
    position: relative;
    margin: 5rem 0;
    overflow: visible;
}

.requirements__list {
    padding: 1rem 0;
}

.requirements__list h3 {
    font-weight: 600;
    font-size: 1.1em;
}

.requirements__list p {
    font-weight: 300;
}

.requirements__list .flow {
    padding: 1em;
    text-align: center;
    background-color: #ebeef3;
    border-radius: 1em;
}

@media (min-width: 768px) {
    .requirements__list {
        padding-top: 3rem;
    }
}
