.scroll-up {
    position: fixed;
    right: 50px;
    bottom: 70px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    color: #384859;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px #c7c9db;
    visibility: hidden;
    cursor: pointer;
    transform: translateY(25px);
    opacity: 0;
    transition: 0.2s;
}

.scroll-up:hover {
    color: #009bec;
}

.scroll-up--active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.scroll-up__svg {
    transition: 0.2s;
    fill: #e8eaf066;
    stroke: #009bec;
    stroke-width: 4px;
}

.scroll-up__svg-arrow {
    fill: currentColor;
    stroke-width: 0;
}
