<section class="section section--howtostart">
    <div class="content">
        <div class="scroll-to" id="benefits"></div>

        <div class="story">
            <p>
                Forget about <em>&quot;WordPress got hacked&quot;</em> support incidents &mdash; <br> keep WordPress up2date and patched while you sleep
            </p>
        </div>


        <!-- Swiper -->
        <div class="swiper howToStartSwiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="step step--1">
                        <div class="section__block">
                            <div class="section__description">
                                <h4 class="step__title heading--4">Gain complete visibility into WordPress websites health hosted across your entire infrastructure</h4>
                                <p>All instances in 1 place, see what's important first</p>
                                <a id="try-now-button" class="button button--try" href="https://platform360.io/security-dashboard/servers/add" target="_blank" rel="noopener noreferrer">TRY NOW</a>
                                <button id="request-a-demo-button" class="button hidden" data-tf-popup="lhpcHY16" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Request WP Guard Demo" data-tf-transitive-search-params data-tf-medium="snippet">Request demo</button>
                            </div>
                            <div class="section__media">
                                <img src="images/slider1.png" alt="" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
            

            
                <div class="swiper-slide">
                    <div class="step step--1">
                        <div class="section__block">
                            <div class="section__description">
                                <h4 class="step__title heading--4">Stay ahead of threats with continuous vulnerability monitoring</h4>
                                <p>Daily scans and hourly Vulnerability database syncs</p>
                                <a id="try-now-button" class="button button--try" href="https://platform360.io/security-dashboard/servers/add" target="_blank" rel="noopener noreferrer">TRY NOW</a>
                                <button id="request-a-demo-button" class="button hidden" data-tf-popup="lhpcHY16" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Request WP Guard Demo" data-tf-transitive-search-params data-tf-medium="snippet">Request demo</button>
                            </div>
                            <div class="section__media">
                                <img src="images/slider2.png" alt="" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
            

            
                <div class="swiper-slide">
                    <div class="step step--1">
                        <div class="section__block">
                            <div class="section__description">
                                <h4 class="step__title heading--4">Fix vulnerabilities here and now with flexible automated and on-demand remediation options</h4>
                                <p>Full control over WordPress updates - by server, website, or asset type</p>
                                <a id="try-now-button" class="button button--try" href="https://platform360.io/security-dashboard/servers/add" target="_blank" rel="noopener noreferrer">TRY NOW</a>
                                <button id="request-a-demo-button" class="button hidden" data-tf-popup="lhpcHY16" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Request WP Guard Demo" data-tf-transitive-search-params data-tf-medium="snippet">Request demo</button>
                            </div>
                            <div class="section__media">
                                <img src="images/slider3.png" alt="" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
            

            
                <div class="swiper-slide">
                    <div class="step step--1">
                        <div class="section__block">
                            <div class="section__description">
                                <h4 class="step__title heading--4">Non-intrusive website protection with Virtual Patches</h4>
                                <p>Block malicious requests without modifying website code  - no updates required</p>
                                <a id="try-now-button" class="button button--try" href="https://platform360.io/security-dashboard/servers/add" target="_blank" rel="noopener noreferrer">TRY NOW</a>
                                <button id="request-a-demo-button" class="button hidden" data-tf-popup="lhpcHY16" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Request WP Guard Demo" data-tf-transitive-search-params data-tf-medium="snippet">Request demo</button>
                            </div>
                            <div class="section__media">
                                <img src="images/slider4.png" alt="" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper -->
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script>
        var swiper = new Swiper(".howToStartSwiper", {
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            effect: "slide",
            grabCursor: true,
            rewind: true,
        });
        </script>

    </div>

</section>