<section class="section section--pricing">
    <svg class="section__wave section__wave--top" xmlns="http://www.w3.org/2000/svg" height="50" width="100%" viewBox="0 0 120 28" preserveAspectRatio="none" aria-hidden="true">
        <defs><path id="waveTop" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" /></defs>
        <use class="wave wave--3" xlink:href="#waveTop" x="0" y="-2" />
        <use class="wave wave--2" xlink:href="#waveTop" x="0" y="0" />
        <use class="wave wave--1" xlink:href="#waveTop" x="0" y="1" />
    </svg>

    <div class="content">
        <div class="scroll-to" id="howitworks"></div>
        <h2 class="section__title title">How it works overview</h2>

        <ul class="pricing__list grid grid--list grid--4">
            
            <li class="flow">
                <h3 class="heading--5 center">Connect</h3>
                <p>
                    Connect content
                </p>
            </li>

            <li class="flow">
                <h3 class="heading--5 center">Detect</h3>
                <p>
                    Detect content
                </p>
            </li>

            <li class="flow">
                <h3 class="heading--5 center">Protect</h3>
                <p>
                    Protect section
                </p>
            </li>

        </ul>
    </div>

    <svg class="section__wave section__wave--bottom" xmlns="http://www.w3.org/2000/svg" height="50" width="100%" viewBox="0 0 120 28" preserveAspectRatio="none" aria-hidden="true">
        <defs><path id="waveBottom" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" /></defs>
        <use class="wave wave--3" xlink:href="#waveBottom" x="0" y="-2" />
        <use class="wave wave--2" xlink:href="#waveBottom" x="0" y="0" />
        <use class="wave wave--1" xlink:href="#waveBottom" x="0" y="1" />
    </svg>
</section>
