<section class="section section--pricing">

    <div class="content">
        <div class="scroll-to" id="howitworks"></div>
        <h2 class="section__title title">How it works</h2>

        <ul class="pricing__list grid grid--list grid--3">
            
            <li class="flow">
                <img class="center" src="images/1connect.png"/>
                <h3 class="heading--5 center">Connect</h3>
                <p>
                    Connect your servers to WP Guard: an agent will be installed which will communicate with the platform via API.
                </p>
            </li>

            <li class="flow">
                <br><br>
                <img class="center" src="images/2detect.png"/>
                <h3 class="heading--5 center">Detect</h3>
                <p>
                    Once connected, the agent will start detecting WordPress-based sites and scan them for vulnerabilities.
                </p>
            </li>

            <li class="flow">
                <img class="center" src="images/3protect.png"/>
                <h3 class="heading--5 center">Protect</h3>
                <p>
                    Fix vulnerabilities by installing updates or applying Virtual Patches. Set up automated protection to proactively address vulnerabilities, before than can be exploited or security updates become available.
                </p>
            </li>

        </ul>
    </div>

</section>
