<section class="section section--pricing">

    <div class="content">
        <div class="scroll-to" id="howitworks"></div>
        <h2 class="section__title title">How it works overview</h2>

        <ul class="pricing__list grid grid--list grid--3">
            
            <li class="flow">
                <h3 class="heading--5 center">Connect</h3>
                <p>
                    Connect content
                </p>
            </li>

            <li class="flow">
                <h3 class="heading--5 center">Detect</h3>
                <p>
                    Detect content
                </p>
            </li>

            <li class="flow">
                <h3 class="heading--5 center">Protect</h3>
                <p>
                    Protect section
                </p>
            </li>

        </ul>
    </div>

</section>
