<section class="section section--hero">
    <div class="hero-waves">
        <div class='hero-wave hero-wave--one'></div>
        <div class='hero-wave hero-wave--two'></div>
    </div>
    <div class="hero__content content">
        <div class="scroll-to" id="start"></div>
        <div class="section__block flow">
            <div class="section__description flow">
                <h1 class="section__title title">Offer SECURE WordPress hosting</h1>
                <p class="lead">Hassle-free way to keep it safe</p>
                <a class="button button--try" href="https://cp.wpcp-demo.io/" target="_blank" rel="noopener noreferrer">Request demo</a>
            </div>
            <div class="section__media">
                <img src="/images/wsp-value-1.png" width="400" alt="" aria-hidden="true">
            </div>
        </div>
        <div class="story flow">
            <p>
                WPGuard is a service that scans and analyses your infrastructure for WordPress vulnerabilities and provides flexible options to eliminate them 
            </p>
        </div>
    </div>
</section>

