<section class="section section--hero">
    <div class="picture">

    <div class="hero__content content">
        <div class="scroll-to" id="start"></div>
        <div class="section__block flow">
            <div class="section__description flow">
                <h1 class="section__title title">Offer SECURE<br>WordPress hosting</h1>
                <h3 class="section__title title">Hassle-free way to keep it safe</h3>
                <p>WP Guard is a service that scans and analyses your<br>infrastructure for WordPress vulnerabilities and provides<br>flexible options to eliminate them</p>
                <a id="try-now-button" class="button button--try" href="https://platform360.io/security-dashboard/servers/add" target="_blank" rel="noopener noreferrer">TRY NOW</a>
                <button id="request-a-demo-button" class="button hidden" style="color: white" data-tf-popup="lhpcHY16" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Request WP Guard Demo" data-tf-transitive-search-params data-tf-medium="snippet">Request demo</button>
            </div>
            <div class="section__media" style="min-width: 400px">
                <!-- <img src="/images/header.png" width="400" alt="" aria-hidden="true"> -->
            </div>
        </div>
    </div>

    </div>
</section>

