<section class="section section--hero">
    <div class="hero__content content">
        <div class="scroll-to" id="start"></div>
        <div class="section__block flow">
            <div class="section__description flow">
                <h1 class="section__title title">Offer SECURE WordPress hosting</h1>
                <h3 class="section__title title">Hassle-free way to keep it safe</h3>
                <p class="lead">WPGuard is a service that scans and analyses your infrastructure for WordPress vulnerabilities and provides flexible options to eliminate them</p>
                <a class="button button--try" href="https://cp.wpcp-demo.io/" target="_blank" rel="noopener noreferrer">Request demo</a>
            </div>
        </div>
        <div class="story flow">
            <p>
                Forget about ‘WordPress got hacked’ support incidents – keep WordPress up2date and patched while you sleep
            </p>
        </div>
    </div>
</section>

