<section class="section section--requirements">
    <svg class="section__wave section__wave--top" xmlns="http://www.w3.org/2000/svg" height="50" width="100%" viewBox="0 0 120 28" preserveAspectRatio="none" aria-hidden="true">
        <defs><path id="waveTop" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" /></defs>
        <use class="wave wave--3" xlink:href="#waveTop" x="0" y="-2" />
        <use class="wave wave--2" xlink:href="#waveTop" x="0" y="0" />
        <use class="wave wave--1" xlink:href="#waveTop" x="0" y="1" />
    </svg>
    <div class="content">
        <div class="scroll-to" id="who"></div>
        <h2 class="section__title title">Who its for</h2>
        <ul class="requirements__list grid grid--list grid--3">
            <li class="flow">
                <h3 class="heading--5">Shared hosting</h3>
                <p>
                    Protect your infrastructure from poorly managed WordPress instances without the risk of damaging your customers' websites
                </p>
            </li>
            <li class="flow">
                <h3 class="heading--5">VPS Hosting</h3>
                <p>
                    Offer a secure hosting environment for your customers WordPress. Make it flexible or let WPGuard take care of security for them
                </p>
            </li>
            <li class="flow">
                <h3 class="heading--5">Managed WP Hosting</h3>
                <p>
                    Gain full control over WordPress security. Automated or manual updates - by server, website, or asset type, WPGuard will ensure that your managed environment is always safe
                </p>
            </li>
        </ul>

    </div>
    <svg class="section__wave section__wave--bottom" xmlns="http://www.w3.org/2000/svg" height="50" width="100%" viewBox="0 0 120 28" preserveAspectRatio="none" aria-hidden="true">
        <defs><path id="waveBottom" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" /></defs>
        <use class="wave wave--3" xlink:href="#waveBottom" x="0" y="-2" />
        <use class="wave wave--2" xlink:href="#waveBottom" x="0" y="0" />
        <use class="wave wave--1" xlink:href="#waveBottom" x="0" y="1" />
    </svg>
</section>
