<section class="section section--requirements">

    <div class="content">
        <div class="scroll-to" id="who"></div>
        <h2 class="section__title title">Who its for</h2>
        <ul class="requirements__list grid grid--list grid--3">
            <li class="flow">
                <h3 class="heading--5">Shared hosting</h3>
                <p>
                    Protect your infrastructure from poorly managed WordPress instances without the risk of damaging your customers' websites
                </p>
            </li>
            <li class="flow">
                <h3 class="heading--5">VPS Hosting</h3>
                <p>
                    Offer a secure hosting environment for your customers WordPress. Make it flexible or let WPGuard take care of security for them
                </p>
            </li>
            <li class="flow">
                <h3 class="heading--5">Managed WP Hosting</h3>
                <p>
                    Gain full control over WordPress security. Automated or manual updates - by server, website, or asset type, WPGuard will ensure that your managed environment is always safe
                </p>
            </li>
        </ul>

    </div>
    
</section>
