@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/open-sans-v26-latin-regular.woff2') format('woff2');
}

@font-face {
    font-weight: 600;
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/open-sans-v26-latin-600.woff2') format('woff2');
}

@font-face {
    font-weight: normal;
    font-family: 'Maven Pro';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/maven-pro-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-weight: 600;
    font-family: 'Maven Pro';
    font-style: normal;
    src: url('../fonts/maven-pro-v22-latin-600.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'Maven Pro';
    font-style: normal;
    src: url('../fonts/maven-pro-v22-latin-500.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'Maven Pro';
    font-style: normal;
    src: url('../fonts/maven-pro-v22-latin-700.woff2') format('woff2');
}
