<footer class="footer">
    <div class="content">
        <div class="scroll-to" id="contacts"></div>

        <div class="footer__content grid grid--2">
            <div>
                <h3>
                    Don't let the fear of website breakages<br>hold you back from staying secure
                </h3>
            </div>

            <div>
                <a class="button button--try" href="https://platform360.io/security-dashboard/servers/add" target="_blank" rel="noopener noreferrer">TRY NOW</a>
            </div>
        </div>

        <div class="footer__legal center">
            <p class="footer__copy">&copy;&nbsp;2023 WP Guard. All rights reserved.</p>
        </div>
    </div>
</footer>
