<footer class="footer">
    <div class="content">
        <div class="scroll-to" id="contacts"></div>

        <div class="footer__content grid grid--3">
            <div>
                <img class="tagline__logo" src="images/logo.png" width="168" height="60" alt="WPGuard">
            </div>

            <div>
                <p>
                    WPGuard is a service that scans and analyses your infrastructure for WordPress vulnerabilities and provides flexible options to eliminate them 
                </p>
            </div>

            <div>
                <a class="button button--try" href="https://cp.wpcp-demo.io/" target="_blank" rel="noopener noreferrer">Request demo</a>
            </div>
        </div>

        <div class="footer__legal center">
            <p class="footer__copy">&copy;&nbsp;2023 WPGuard. All rights reserved.</p>
        </div>
    </div>
</footer>
