<footer class="footer">
    <div class="content">
        <div class="scroll-to" id="contacts"></div>

        <div class="footer__content grid grid--3">
            <div class="tagline">
                <img class="tagline__logo" src="" width="168" height="60" alt="WPGuard">
                <p>
                    WPGuard is a service that scans and analyses your infrastructure for WordPress vulnerabilities and provides flexible options to eliminate them 
                </p>
            </div>

            <div class="footer__links flow">
                Request demo
            </div>
        </div>

        <div class="footer__legal">
            <p class="footer__copy">&copy;&nbsp;2023 WPGuard. All rights reserved.</p>
        </div>
    </div>
</footer>
