<meta property="og:type" content="website">
<meta property="og:locale" content="en">
<meta property="og:site_name" content="WSP for AWS" />
<meta property="og:title" content="{{ title or site.title }}">
<meta property="og:description" content="{{ description or site.description }}">
<meta property="og:image" content="{{ socialImage or site.socialImage }}">
<meta property="og:url" content="{{ url or site.url }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title or site.title }}">
<meta name="twitter:description" content="{{ description or site.description }}">
<meta name="twitter:site" content="{{ url or site.url }}">
<meta name="twitter:image" content="{{ socialImage or site.socialImage }}">
