<title>{{ title or site.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description or site.description }}">
<meta name="keywords" content="{{ keywords or site.keywords }}">
<link rel="stylesheet" href="/styles/styles.css">

{% include 'partials/open-graph.njk' %}

<link rel="canonical" href="{{ url or site.url }}" />
<link rel="icon" href="/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/images/icons/icon.svg">
<link rel="apple-touch-icon" href="/images/icons/180.png">
<link rel="manifest" href="/manifest.json">

<!-- swiper -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

<!-- lightense -->
<script src='https://cdn.jsdelivr.net/gh/sparanoid/lightense-images@master/dist/lightense.min.js'></script>
<script id="rendered-js" >
window.addEventListener('load', function () {
  Lightense('img.zoom');
}, false);
</script>